<h1 class="page-header">Sobre o Sistema</h1>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Sobre o Sistema
        </div>
        <div class="panel-body">
            <p>Gerador de Convites SCI</p>
            <p>Desenvolvido por <b>Jackson Pires</b></p>
            <p>jackson.pires@gmail.com</p>
        </div>
        <div class="panel-footer">
            © 2017
        </div>
    </div>
</div>